*.class
*.log
dist
logs
project/project
project/target
target
tmp
.history
/.bsp
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/out
/RUNNING_PID
/*.iml

health-analysis-credentials.json
health-analysis-tokens